[submodule "Canada Movie Tracker/CanadaMovieTracker"]
	path = Canada Movie Tracker/CanadaMovieTracker
	url = https://github.com/Hadi1723/CanadaMovieTracker.git
[submodule "Dining Philosopher Problem/DiningPhilisopherProblem"]
	path = Dining Philosopher Problem/DiningPhilisopherProblem
	url = https://github.com/Hadi1723/DiningPhilisopherProblem.git
[submodule "Student Management Application/StudentManagementApplication"]
	path = Student Management Application/StudentManagementApplication
	url = https://github.com/Hadi1723/StudentManagementApplication.git
[submodule "MP3 Player/MP3-Player"]
	path = MP3 Player/MP3-Player
	url = https://github.com/Hadi6123/MP3-Player.git
[submodule "TaskList/TaskList"]
	path = TaskList/TaskList
	url = https://github.com/Hadi6123/TaskList.git
