[submodule "Canada Movie Tracker/CanadaMovieTracker"]
	path = Canada Movie Tracker/CanadaMovieTracker
	url = https://github.com/Hadi1723/CanadaMovieTracker.git
[submodule "Dining Philosopher Problem/DiningPhilisopherProblem"]
	path = Dining Philosopher Problem/DiningPhilisopherProblem
	url = https://github.com/Hadi1723/DiningPhilisopherProblem.git
[submodule "Student Management Application/StudentManagementApplication"]
	path = Student Management Application/StudentManagementApplication
	url = https://github.com/Hadi1723/StudentManagementApplication.git
[submodule "MP3 Player/MP3-Player"]
	path = MP3 Player/MP3-Player
	url = https://github.com/Hadi6123/MP3-Player.git
[submodule "TaskList/TaskList"]
	path = TaskList/TaskList
	url = https://github.com/Hadi6123/TaskList.git
[submodule "Student Library Problem/StudentLibraryProblem"]
	path = Student Library Problem/StudentLibraryProblem
	url = https://github.com/Hadi6123/StudentLibraryProblem.git
[submodule "PDF Generator/PDF_Generator_Console_App"]
	path = PDF Generator/PDF_Generator_Console_App
	url = https://github.com/Hadi1723/PDF_Generator_Console_App.git
[submodule "McMaster Computer Science Requirements/McMaster_Computer_Science_Requirements"]
	path = McMaster Computer Science Requirements/McMaster_Computer_Science_Requirements
	url = https://github.com/Hadi6123/McMaster_Computer_Science_Requirements.git
